# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
env1/
venv/

# Database
db.sqlite3

# Logs
*.log

# Environment variables
.env

# Media files (user uploads)
media/

# IDE files
.vscode/
.idea/
*.swp

# Output or temp files
output.txt
